.ContactContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px 20px;
}

.descriptionContainer {
    width: 100%;
    max-width: 1920px;
}

.title {
    padding: 24px 0px 0px 0px;
}

.title h2 {
    color: #D0D0D0;
    font-family: 'Cinzel Decorative';
    font-size: 33px;
    font-weight: bold;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
}

.description {
    color: #D0D0D0;
    font-family: 'Cormorant Garamond';
    font-size: 24px;
    font-weight: lighter;
     margin:  16px 0px 16px 0px !important;
}

.description {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap : 32px;
}

.contactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactInfo img {
    width: 350px;
    height: auto;
    margin-bottom: 8px;
}