.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #000000;
    border-bottom: 1px solid rgba(207, 207, 207, 0.308);
    line-height: 1; 
}

.descriptionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 0 20px;
}

.icon_title {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 450px;
}

.font_title {
    font-family: 'Cinzel Decorative';
    font-size: 24px;
    color: #D0D0D0;
    font-weight: bold;
}

.options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.options p {
    font-family: 'Cinzel Decorative';
    font-size: 25px;
    color: #FF6600;
    cursor: pointer;
    font-weight: lighter;
}
